# Entorno virtual de Python
.venv/
venv/
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno y secretos (¡Crucial para FastAPI!)
.env
.env.*
!.env.example
secrets.toml

# Base de datos local (SQLite por defecto)
*.db
*.sqlite3

# Alembic (Evita subir logs o archivos temporales de migración)
alembic.log
